.videoSidebar {
    position: absolute;
    color: white;
    top: 55%;
    right: 0;
    padding: 0 30px;
    
}

.videoSidebar__button {
    padding: 10px 0;
    width: 30px;
    
   }



.videoSidebar__button p{
 padding-left: 5px;
 text-align: center;
}